<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ESSU-Library-System/

    # Routing all "views/pages/auth/" files
    RewriteRule ^login$ views/pages/auth/login.php [L]
    RewriteRule ^create_an_account$ views/pages/auth/create_an_account.php [L]

    # Routing all "views/pages/main/" files
    RewriteRule ^available_books$ views/pages/main/available_books.php [L]
    RewriteRule ^books_management$ views/pages/main/books_management.php [L]
    RewriteRule ^activity_logs$ views/pages/main/activity_logs.php [L]
</IfModule>
